* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    border: 2px solid black;
    width: 1024px;
    height: 512px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: auto;
    grid-template-areas:
      'header header header header'
      'nav nav nav nav'
      'main main main aside'
      'footer footer footer footer';
  }
  
  header,
  nav,
  main,
  aside,
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main,
  aside {
    height: 336px;
  }
  
  header {
    border: 2px solid green;
    grid-area: header;
    height: 100px;
  }
  
  nav {
    border: 2px solid orangered;
    grid-area: nav;
    height: 42px;
  }
  
  main {
    border: 2px solid blue;
    grid-area: main;
  }
  
  aside {
    border: 2px solid red;
    grid-area: aside;
  }
  
  footer {
    border: 2px solid brown;
    grid-area: footer;
    height: 30px;
  }